[Unit]
Description=rtl_433 SDR Receiver Daemon for AcuRite
After=network-online.target

[Service]
ExecStart=/usr/local/bin/rtl_433 -R 40 -F "influx://<hostname>:8086/api/v2/write?org=<org>&bucket=<bucket>,token=<authtoken>"
Restart=always

[Install]
WantedBy=multi-user.target

